# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/
.DS_Store

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Databases
*.sqlite
*.sqlite3
*.db

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Logs
*.log
celerybeat-schedule
